.border-custom {
    border-width: 1px;
    border-style: dashed;
    border-color: #F8F9FA;
    border-radius: 1px;
}

.border-primary-custom {
    border-width: 2px;
    border-style: solid;
    border-color: #3D80DC;
    border-radius: 5px;
}

.border-secondary-custom {
    border-width: 2px;
    border-style: solid;
    border-color: #DFE2E6;
    border-radius: 5px;
}

.border-secondary-dashed {
    border-width: 2px;
    border-style: dashed;
    border-color: #DFE2E6;
    border-radius: 5px;
}

.no-border {
    border: none;
}

.ump-visibility-empty {
    background: #F8F9FA;
    border: 1px solid #E2E4E8 !important;
    line-height: 1.7;
    color: #878E95;
}

.ump-visibility-partial {
    background: #98BDEB;
    border: 1px solid #3D80DC !important;
    line-height: 1.7;
    color: white;
}

.ump-visibility-full {
    background: #3D80DC;
    border: 1px solid #3D80DC !important;
    line-height: 1.7;
    color: white;
}