.debug {border: 1px solid blue}

.ump-loading-spinner {
    display: block;
    position: fixed;
    z-index: 1031; /* High z-index so it is on top of the page */
    top: calc( 50% - ( 28px / 2) ); /* where ... is the element's height */
    right: calc( 50% - ( 28px / 2) ); /* where ... is the element's width */
}

.ump-loading-container {
    opacity: .5;
    pointer-events: none
}
