h1 {
    font-size: 2.5rem !important;
}
h2 {
    font-size: 1.3rem !important;
}

@media (min-width: 768px) {
    h1 {
        font-size: 3.5rem !important;
    }
    h2 {
        font-size: 1.45rem !important;
    }
}

@media (min-width: 991px) {
    h1 {
        font-size: 4rem !important;
    }
    h2 {
        font-size: 1.65rem !important;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 4.5rem !important;
    }
    h2 {
        font-size: 1.8rem !important;
    }
}

.border-primary-custom {
    border-width: 2px;
    border-style: solid;
    border-color: #3D80DC;
    border-radius: 5px;
}

.border-primary-success {
    border-width: 2px;
    border-style: solid;
    border-color: #62B23B;
    border-radius: 5px;
}

.border-warning-custom {
    border-width: 2px;
    border-style: solid;
    border-color: #E47635;
    border-radius: 5px;
}

.border-secondary-custom {
    border-width: 2px;
    border-style: solid;
    border-color: #DFE2E6;
    border-radius: 5px;
}

.border-secondary-dashed {
    border-width: 2px;
    border-style: dashed;
    border-color: #DFE2E6;
    border-radius: 5px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
