.l-banner a {
    color: #878E95 !important;
}

.l-banner a:hover {
    color:#373A3C !important;
}

.l-banner a:focus{
    outline: none !important;
}

.l-banner .nav-item .active {
    border-bottom: 2px solid #3D80DC !important;
    color: #373A3C !important;
    font-weight: bold;
}